{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passer une commande </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1> Commandez ! </h1>
        <form method="POST"">
            {% csrf_token %}
            {{ formu }}
            <input type="submit" value="Commandez">
    </div>
</body>
</html>
