body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(252, 252, 252);
    padding: 40px; /* Ajout d'un padding interne */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments dans le conteneur */
    margin-left: 100px;
}

.form-group {
    width: 100%; /* Prend toute la largeur du conteneur */
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
.choix {
    width: calc(100% - 20px); /* Ajustement pour ne pas toucher les bords */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    display: block;
    margin: 0 auto; /* Centrage horizontal */
}

.choix {
    background-color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
